/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Quicksand", sans-serif;
  background-color: #eadbdb;
}
body {
  height: auto;
}
/* ***************************Mixins and variables*************************** */
.tall-font {
  font-family: "Open Sans Condensed", sans-serif;
}
.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* ************************************************************************** */
nav {
  top: 0;
  width: 100%;
  height: 3.5em;
  background-color: #5f0505;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav .links {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  list-style: none;
  height: 3em;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
nav .links a {
  text-decoration: none;
  color: #eadbdb;
  font-size: 1.2em;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.3em;
}
nav .links a:hover {
  text-decoration: underline;
}
@media (max-width: 900px) {
  nav .links {
    width: 100%;
  }
}
@media (max-width: 434px) {
  nav {
    display: none;
  }
}
header {
  width: 100%;
  height: auto;
  background-color: #d28f7f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-bottom: none;
  clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 91%, 85% 91%, 85% 100%, 15% 100%, 15% 91%, 0 91%);
  background-image: radial-gradient(circle, #d28f7f, #d28f7f, #daa197, #e1b4af);
}
header img {
  height: 15em;
  margin: 0 3em 2em 1em;
  width: auto;
  clip-path: polygon(49% 0, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}
@media (max-width: 739px) {
  header img {
    margin: 0 0 1em 0;
  }
}
@media (max-width: 739px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 8em;
}
.header-container h1 {
  font-size: 5.5em;
  color: white;
  font-family: "Great Vibes", cursive;
}
@media (max-width: 500px) {
  .header-container h1 {
    font-size: 3.5em;
  }
}
@media (max-width: 296px) {
  .header-container h1 {
    font-size: 2.5em;
  }
}
.header-container h3 {
  color: #eadbdb;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}
@media (max-width: 739px) {
  .header-container h3 {
    margin-bottom: 0.5em;
  }
}
@media (max-width: 434px) {
  .header-container h3 {
    font-size: 1em;
  }
}
@media (max-width: 434px) {
  .header-container {
    height: 7em;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5em;
  justify-content: space-around;
  height: auto;
  line-height: 2.2em;
  width: 100%;
  color: #5f0505;
}
.container .left {
  border-top: 5px solid #d2907f73;
  background-color: #f7f7f7;
  width: 45%;
  height: 95vh;
  padding: 3em 5em;
  padding-bottom: 0;
}
.container .left section ul {
  text-align: left;
  padding: 1em 0;
}
.container .left #contact ul li {
  list-style: none;
  font-size: 1em;
}
.container .left #skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container .left #skills img {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}
@media (max-width: 1296px) {
  .container .left #skills {
    flex-direction: column;
    align-items: flex-start;
  }
  .container .left #skills h3 {
    align-self: center;
  }
}
@media (max-width: 1296px) {
  .container .left {
    height: 125vh;
  }
}
@media (max-width: 1171px) {
  .container .left {
    height: 135vh;
  }
}
@media (max-width: 1146px) {
  .container .left {
    height: 135vh;
  }
}
@media (max-width: 1076px) {
  .container .left {
    height: 145vh;
  }
}
@media (max-width: 931px) {
  .container .left {
    width: 90%;
    height: 130vh;
  }
}
@media (max-width: 671px) {
  .container .left {
    height: 115vh;
  }
}
@media (max-width: 500px) {
  .container .left {
    padding: 5em 2em;
  }
}
.container .right {
  border-top: 5px solid #d2907f73;
  background-color: #f7f7f7;
  width: 45%;
  height: 95vh;
  padding: 2em 5em 0 5em;
}
.container .right section h3 {
  margin-bottom: 0.5em;
}
.container .right section ul {
  text-align: left;
  padding: 1em 0;
}
.container .right #intro {
  line-height: 1.7em;
}
.container .right #experience {
  margin-top: 2em;
}
.container .right #experience .exp-title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.container .right #experience p {
  font-size: 0.9em;
  line-height: 1.4em;
  text-align: left;
}
@media (max-width: 1296px) {
  .container .right {
    height: 125vh;
  }
}
@media (max-width: 1171px) {
  .container .right {
    height: 135vh;
  }
}
@media (max-width: 1076px) {
  .container .right {
    height: 145vh;
  }
}
@media (max-width: 931px) {
  .container .right {
    flex-direction: column;
    width: 90%;
    height: 90vh;
  }
}
@media (max-width: 671px) {
  .container .right {
    height: 113vh;
  }
}
@media (max-width: 533px) {
  .container .right {
    height: 140vh;
  }
}
@media (max-width: 460px) {
  .container .right {
    height: 160vh;
  }
}
@media (max-width: 1040px) {
  .container {
    padding: 5em 0;
  }
}
@media (max-width: 931px) {
  .container {
    flex-direction: column;
  }
}
.sect-title {
  font-size: 1.3em;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 600;
}
footer {
  background-color: #d28f7f;
  height: 4em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.2em;
  color: #f7f7f7;
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
}
